@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --White:hsl(0, 0%, 100%);
    --black:hsl(0, 0%, 0%);
    --darkGray:hsl(0, 0%, 55%);
    --VdarkGray:hsl(0, 0%, 41%);
    --bodyFontSize:15px;
    --Alata:'Alata', sans-serif;
    --Josfin:'Josefin Sans', sans-serif;
    --alataFont:300;
    --josefinFont:400;
}

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* overflow-x: hidden; */
    width: 100%;
}


#background{
    position:absolute;
    z-index: -9999;
    background: url("./images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
}
.head{
    position:relative;
    z-index: 999;
    display:flex;
}
.logo{
    width:150px;
    margin:2rem 1rem 0 1rem;
    position:absolute;
    z-index: 9999;
}
.btn-primary{
    border:0;
    position:absolute;
    right:1rem;
    top:2rem;
    z-index:99999;
}
.slide-menu{
    width: 100%;
    height: 100vh;
    top:0;
    background-color: #000;
    position: absolute;
    z-index: 999;
}
.navigation{
    display:none;   
}
.slide-menu{
    display: flex;
    gap:2rem;
    flex-direction: column;
}
.slide-menu a{
    text-decoration: none;
    padding:5rem 1rem;
    position:absolute;
    text-transform: uppercase;
    color: rgba(255,255,255,0.75);
    margin:2rem 0;
    font-family: var(--Alata);
    font-size: 21px;
    font-weight: 300;
}
.slide-menu a:first-child{
    margin-top: 5rem;
}
.show-nav{
    display: block;
}
.top-heading{
    width: 100%;
    display: flex;
    justify-content: center;
}
.top-heading h1{
    max-width: 13ch;
    text-transform: uppercase;
    position:absolute;
    margin:11rem auto;
    margin-bottom: 0;
    padding:1rem;
    font-family: var(--Josfin);
    color:#fff;
    font-size: 2.2rem;
    font-weight: var(--josefinFont);
    z-index: 1;
    border:2px solid #fff;
}
.section-2{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
}
.image{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.interactive{
    width: 90%;
    margin:700px 0;
    margin-bottom:0;
    align-self: center;
}
#section2-heading{
    max-width:20ch;
    text-align:center;
    text-transform: uppercase;
    font-family:var(--Josfin);
    font-size: clamp(1.9rem, 2.5vw, 3rem);    
    padding:1rem;
    margin:2rem auto;
    font-weight:100;
    line-height:0.9;
}
#section2-typo{
    text-align:center;
    font-family:var(--Alata);
    color: rgba(0,0,0,0.55);
    font-size: 15px;
    max-width:30ch;
    font-weight: 300;
    line-height: 1.5;
    margin:1rem auto;
}   
.same-sections{
    width:90%;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(80%);
}
.section-main {
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:1rem;

}
.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.same-sections h2{
    color:#fff;
    font-family: var(--Josfin);
    margin-top: 2.5rem;
    margin-left: 1rem;
    text-transform: uppercase;
    width:9ch;
    line-height:0.95;
    font-weight:300;
    filter:brightness(2);

}

#image1{
    background-image: url("./images/mobile/image-deep-earth.jpg");
}
#image2{
    background-image: url("./images/mobile/image-night-arcade.jpg");
    
}
#image3{
    background-image: url("./images/mobile/image-soccer-team.jpg");
    
}
#image4{
    background-image: url("./images/mobile/image-grid.jpg");
    
}
#image5{
    background-image: url("./images/mobile/image-from-above.jpg");
    
}
#image6{
    background-image: url("./images/mobile/image-pocket-borealis.jpg");
    
}
#image7{
    background-image: url("./images/mobile/image-curiosity.jpg");
    filter:brightness(70%),contrast(50%);
}
#image8{
        background-image: url("./images/mobile/image-fisheye.jpg");
}
.section3-button{
    border: 2px solid var(--darkGray);
    padding:8px 3rem;
    margin: 2rem auto 5rem auto;
    background-color:transparent;
    font-family: var(--Alata);
    font-weight:400;
    font-size:1rem;
    letter-spacing: 2px;
    color:rgba(0,0,0,0.85);
}
.section-3 h1{
    margin:2rem auto;
    text-transform: uppercase;
    font-family: var(--Josfin);
    letter-spacing:2px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color:#000;
}
.logo-footer{
    width: 150px;
    margin:2rem auto;
}
.footer-nav{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.footer-nav a{
    text-decoration: none;
    color: #fff;
    font-family: var(--Alata);
    font-weight:400;
}
.socials{
    display: flex;
    gap:1rem;
    margin:2rem auto 0 auto;
}
.footer p{
    color: var(--VdarkGray);
    font-family: var(--Alata);
    margin:1rem 0 3rem 0;
    font-size:15px;
}